.lionOnLeftSection {
  padding: 64px 0;
  background: var(--bg-gradient-1);
  position: relative;
  overflow: hidden;

  &.LIGHT_BLUE {
    background: var(--bg-light-blue);
  }

  .sectionContent {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .bgImg {
    position: absolute;
    top: 50%;
    left: 0;
    // height: 520px;
    height: 95%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    transform: scaleX(-1) translateY(-50%);
    z-index: 0;

    &.LIGHT_BLUE {
      height: 100%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 1023px) {
  .lionOnLeftSection {
    padding-bottom: 64px;
    height: unset;
    max-height: unset !important;

    .bgImg {
      &.LIGHT_BLUE {
        top: unset;
        bottom: 0%;
        height: auto;
        transform: unset;
      }
    }
  }
}
