.basicHeroSectionOnlyText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .left {
    margin-left: 0;
    margin-right: auto;
    max-width: 420px;

    h1 {
      margin-bottom: 24px;
    }

    p {
      color: var(--font-light);
      font-size: 15px;
      line-height: 1.8;
    }
  }
}

@media (max-width: 1023px) {
  .basicHeroSectionOnlyText {
    .left {
      margin-top: 136px;
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 580px) {
  .basicHeroSectionOnlyText {
    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: unset;
      text-align: center;

      h1 {
        font-size: 32px;
      }
    }
  }
}
