.pageHeader {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--bg-gradient-1);
    opacity: 0;
    transition: opacity 0.4s linear;
    z-index: -1;
  }

  &.dark::after {
    opacity: 1;
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(78px + 32px);

    .desktopMenu {
      display: flex;
      align-items: center;
      gap: 16px;

      nav {
        display: flex;
        gap: 16px;
      }
    }

    .mobileMenu {
      display: none;
    }
  }
}

@media (max-width: 860px) {
  .pageHeader {
    .headerContainer {
      height: calc(78px + 16px);

      .desktopMenu {
        display: none;
      }

      .mobileMenu {
        display: block;
      }
    }
  }
}
