.howToStarCollaborationWithUsSection {
  padding-top: 64px;
  padding-bottom: 64px;

  .sectionContainer {
    h2 {
      margin-bottom: 32px;
    }

    .tiles {
      display: flex;
      justify-content: space-evenly;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 760px;
        z-index: -1;
        background-image: url("/imgs/horizontal-lines.svg");
        height: 1px;
      }

      .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          position: relative;
          z-index: 0;
          transition: 0.2s linear;
        }

        .step {
          position: relative;
          z-index: 1;
          background: var(--bg-light);
          padding: 6px;
          border-radius: 50%;
          color: var(--font-tertiary);
          font-size: 23px;
          font-weight: 800;
          margin-top: -16px;
          margin-bottom: 3px;
        }

        .accent {
          font-weight: 800;
          margin-bottom: 2px;
        }

        &:hover {
          img {
            transform: scale(1.15);
            z-index: 2;
          }
        }
      }
    }
  }
}

@media (max-width: 660px) {
  .howToStarCollaborationWithUsSection {
    .sectionContainer {
      h2 {
        text-align: center;
      }

      .tiles {
        flex-direction: column;
        row-gap: 48px;
        overflow: hidden;

        &::after {
          transform: translateX(-50%) rotate(90deg);
          left: 50%;
          top: 280px;
          width: 157%;
        }
      }
    }
  }
}
