.adminPages {
  height: 100dvh;
  display: flex;

  .mainContent {
    padding: 0px 16px;
    width: 100%;
    overflow-y: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--font-dark);
  }
}
