@import "./typography.module.scss";

:root {
  // Font Colors
  --font-light: #ffffff;
  --font-dark: #18172e;
  --font-dark-opacity: #18172ecc;
  --font-primary: #db702e;
  --font-secondary: #55595c;
  --font-tertiary: #c7d8e1;

  // Border Colors
  --border-color-primary: #f29104;
  --border-color-secondary: #614454;
  --border-color-tertiary: #e0ecf2;

  //Background Colors
  --bg-light: #ffffff;
  --bg-light-blue: #f4f8fb;
  --bg-gradient-1: linear-gradient(132.02deg, #09162b 26.3%, #461837 144.63%);
  --bg-gradient-1-hover: linear-gradient(320deg, #09162b 26.3%, #461837 144.63%);
  --bg-gradient-2: linear-gradient(91.07deg, #f29104 2.5%, #e95c0c 121.01%);
  --bg-gradient-2-hover: linear-gradient(180deg, #f29104 2.5%, #e95c0c 121.01%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--font-dark);
  background: var(--bg-light);
  font-family: var(--font-manrope);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 32px;
  margin: auto;
}
